* {
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 400px;
    border: dotted 5px rgb(0, 0, 0.7);
    margin: 10% auto;
    padding: 20%;
    /*Se quiser padding (borda/margin interna) so no topo: padding-top*/
    padding-top:70% ;
    padding-left: 100;
}