* {
    box-sizing: border-box;
}

 /*pagina exemplo*/
.box {
    width: 300px;
    height: 300px;
    border: dotted 8px rgb(0, 0, 0.7);
    margin: 10% auto;
    padding: 20%;
    /*Se quiser padding (borda/margin interna) so no topo: padding-top*/
    padding-top:70% ;
    padding-left: 100;
}

/*pagina conceitos*/
.container {
    font-size:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 500px;
    margin: 10% auto;
}

h2 {
    font-size: 110%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagem-1 {

    width: 500px;
    margin: 10% auto;

}

.imagem-2 {
    width: 500px;
    margin: 0% auto;
    text-align: center;
   
}

.topico-1{
    font-family: Arial, Helvetica, sans-serif;
}

.topico-2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   
   
   
}
